
body {
    background-color: #c5d7e1;
}

p {
    font-size: 1.5em;
}

.navbar {
    margin-bottom: 2em;
    background-color: #ababad;
}

.page-header {
    text-align: center;
    margin-bottom: 1.5em;
}

.card {
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px;
    min-width: 12em;
    max-width: 12em;
}


.card-img-top {
    height: 17.5em;
    width: 20em;
}

p.card-text {
    font-size: 1em;
}

footer {
    background-color: #ababad;
}

.card-deck {
    padding-bottom: 4em;
}

